nav img {
  width: 200px;
}
#navbarNavAltMarkup a{
  color: #242931;
}
#navbarNavAltMarkup a:hover {
color: #FF7E61;
}
#button a:hover{
  color: #00aa8a;
  border-color: #00aa8a;
}
.lead {
  font: normal normal normal 45px/46px Questrial; 
  color: #242931;
  opacity: 1; 
  letter-spacing: 0px
}
.subheading{
  font: normal normal normal 22px/23px Questrial;
letter-spacing: 6.6px;
color: #FF7E61;
opacity: 1;
}
.subtext{
  font: normal normal normal 30px/50px Questrial;
letter-spacing: 0px;
color: #242931;
opacity: 1;
}
.lasth{
  font: normal normal normal 55px/57px Questrial;
letter-spacing: 0px;
color: #242931;
opacity: 1;
}
#btn1{
  color: #fff;
   background-color:#FF7E61;
  
}
#btn2{
  background-color: white;
}
#btn1:hover{
  background-color: #00aa8a;
}
#btn2:hover{
  color: #00aa8a;
  border-color: #00aa8a;
}
#form
{
  display: inline block;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
#container {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #f2f2f2;
}
.formMargin{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  margin-right: 18%;
}

.formHeading{
  text-align: left;
  font: normal normal normal 55px/58px Questrial;
  letter-spacing: 0px;
  color: #242931;
  padding-left: 3%;
}

.formBelHeading{
  text-align: left;
  font: normal normal normal 20px/20px Questrial;
  letter-spacing: 0px;
  color: #242931;
  padding-left: 3%;
}

.formsmlHeading{
  text-align: left;
  font: normal normal normal 20px/20px Questrial;
  letter-spacing: 0px;
  color: #242931;
  padding-left: 3%;
}
#lbtn:hover{
  background-color: #00aa8a;
}


#spedge-footer {
  background-color: #ff7e61;
  color: black;
}

.messaging-btn {
  background-color: #ff7e61;
}
.voice-btn {
  background-color: #00aa8a;
}

.messaging-btn span {
  color: aliceblue;
  font-family: "Questrial", sans-serif;
}
.voice-btn span {
  color: aliceblue;
  font-family: "Questrial", sans-serif;
}

.messaging-btn:hover {
}

.card-img-top {
  width: 15%;
}
