nav img {
  width: 200px;
}

#spedge-footer {
  background-color: #00aa8a;
  color: #ffffff;
}

.messaging-btn {
  background-color: #ff7e61;
}
.voice-btn {
  background-color: #00aa8a;
}

.messaging-btn span {
  color: aliceblue;
  font-family: "Questrial", sans-serif;
}
.voice-btn span {
  color: aliceblue;
  font-family: "Questrial", sans-serif;
}

.messaging-btn:hover {
}

.card-img-top {
  width: 10%;
}
